@font-face {
    font-family: 'Pixelon';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.cdnfonts.com/s/113833/Pixelon-E4JEg.woff') format('woff');
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #012549;
    margin: 0px;
}

p { margin: 0; padding: 0; }

#main-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#header {
    font-size: 50px; 
    font-family: 'Lemon/Milk', sans-serif; 
    color:rgb(255, 255, 255); 
    background-color: #001f3d;
    font-weight: bold;
    display: flex;
    border-bottom: solid #aaddff;
}

#header a {
    text-decoration: none;
    display: inline-block;
}

#about {
    color: #aaddff;
    font-family: 'Hey Comic', sans-serif;
    margin-top: 150px;
    background-color: #001f3d;
    padding-bottom: 150px;
}

#about h2 {
    font-size: 75px;
    margin-bottom: 5px;
}

#subheader {
    font-size:  80px;
    color: #aaddff;
    font-family: 'Hey Comic', sans-serif;
    margin-top:135px;
    float: left;
}

#main-logo {
    text-align: center;
    float: right;
}

#pageheader {
    font-size:  45px;
    color: whitesmoke;
    font-family: 'Hey Comic', sans-serif;
    margin-left:5px ;
}


.play-games-btn {
    background-color: rgba(1, 10, 34, 0.699);
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 45px;
    display: inline-block;
    align-self: center;
    font-family: 'Verdana';
}

.game-toggle {
    color: #aaddff;
    text-decoration: none;
    font-family: 'Pixelon';
    font-size: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 0px;
    position: relative;
}

.game-toggle img {
    width: 200px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.game-toggle .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  text-align: center;
}

.game-toggle:hover img {
    opacity: 0.3;
}

.game-toggle:hover .middle {
    opacity: 1;
}

.game-toggle .text {
    background-color: #001f3d;
    font-size: 16px;
    border-radius: 20px;
    padding: 16px 32px;
}

#game-back-button {
    background-color: rgba(1, 10, 34, 0.699);
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 35px;
    display: inline-block;
    align-self: center;
    font-family: 'Hey Comic', sans-serif;
}

#game-controller {
    display: none;
    flex-grow: 1;
}


#game-container {
    width: 100%;
    height: 100%;
}

.game-toggle img {
    border: solid 3.5px #aaddff;
    border-radius: 15px;
}

.clear { clear: both; }

#footer { 
    clear: both;
}